.navbar-home {
    height:80px;
    background-color:#17a2b8;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    z-index: 1;
    color:white;
}

.menu {
    display: none;
    margin-left: 20px;
    cursor: pointer;
}

.mobile-only {
    background: white;
    display: none;
    height: 100vh;
    width: 50vw;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    backdrop-filter: blur(10px);
}

.mobile-only li {
    margin-top: 50px;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.mobile-only li:hover {
    transform: scale(1.10);
    transition: 1s;
}

.navbar-navigation {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    height: 80px;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: none;
}

.navbar-search {
    margin-left: 500px;
    color: black;
}

.navbar-tab-home {
    height: 100%;
    width: 100px;
    text-align: center;
    padding-top: 0.1px;
    color:white;
    text-decoration: none;
}

.navbar-tab-cart {
    height: 80px;
    width: 100px;
    text-align: center;
    padding-top: 0.1px;
    color:white;
}

.navbar-tab-home:hover {
    background-color: white;
    color:black;
}

.navbar-tab-home h3:hover {
    transform: scale(1.15);
    transition: 1s;
}

.navbar-tab:hover {
    cursor: pointer;
}

.navbar-tab h3:hover {
    transform: scale(1.15);
    transition: 1s;
}

.navbar-tab-cart:hover {
    background-color: white;
    color:black;
}

.navbar-tab-cart h3:hover {
    transform: scale(1.15);
    transition: 1s;
}

.search-input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border:none;
}

.navbar-tab {
    height: 100%;
    width: 100px;
    text-align: center;
}

.navbar-tab:hover {
    background-color: white;
    color:black;
}

.cart-icon {
    width: 30px;
}

.cart {
    position: fixed;
    right: 150px;
}

.cart > h3 {
    color:white;
}

@media screen and (max-width: 640px) {
    .navbar-navigation {
        display: none;
    }

    .cart {
        display: none;
    }

    .navbar-search {
        margin-left: 70px;
    }
    
    .search-input {
        width: 250px;
        height: 35px;
    }

    .menu {
        display: inline-block;
    }

    .mobile-only {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}